---
title: Defenses
layout: static_page_no_right_menu
nav_id: Defenses
permalink: /defenses/
# nav_weight: 2
# nav_nesting: true
nav_parent: News
---

<h1>Recent Capstone Defenses</h1>
<p>Discover the latest capstone project defenses at DOGE University, where our innovative students present groundbreaking digital solutions in blockchain, AI, and creative coding. Stay tuned for detailed reports and upcoming defense schedules.</p>

<div class="row my-col-12-zebra">
{% for post in site.posts limit: 100 %}
{% if post.categories contains "defenses" %}
<div class="col-12 my-bordered-news-snippets">
<h2 class="mb-2 mt-3"><a href="{{site.url }}{{ post.url }}" style="color:inherit;">{{ post.title }}</a></h2>
<h6>{% if post.event-date %}Defense date: {{ post.event-date |  date: "%B %-d, %Y" }}{% endif %}</h6>
{% if post.image != null %}
  {% if post.image-address != null %}
    <a href="{{ post.image-address | replace: '__SITE_URL__', site.url }}">
  {% else %}
    <a href="{{site.url }}{{ post.url }}">
  {% endif %}
  <img src="{{ post.image | replace: '__SITE_URL__', site.url }}"
       alt="{{ post.image-alt }}"
       title="{{ post.image-alt }}"
       style="max-width: {% if post.image-wide != true %}70%{% else %}100%{% endif %}; max-height:200px; height:auto; width:auto;"
       class="mb-3 mt-2">
  </a>
{% endif %} {{ post.excerpt | markdownify }}
<p><a class="btn btn-secondary h5" href="{{site.url }}{{ post.url }}" style="white-space: normal" role="button">{% if post.more-text == null %}View details{% else %}{{ post.more-text }}{% endif %} &raquo;</a></p>
</div>
<!--/span-->
{% endif %}
{% endfor %}
</div>
