---
title: Information
layout: g_page
permalink: /graduate/
nav_id: For current and prospective graduate students
nav_long: true
nav_parent: Graduate
nav_nesting: true
nav_weight: 1
---

<h1 class="mb-3">Graduate Program</h1>

<img src="{{site.url}}/img/kerchofhall450_180.png" alt="Kerchof Hall" title="Kerchof Hall" style="max-width:100%;max-height:300px;height:auto;width:auto" class="mb-3">

---

The Department of Emerging Technologies offers a Doctor of Philosophy in Emerging Technologies. Our doctorate program provides diverse opportunities for advanced study and research in cutting-edge fields such as artificial intelligence, machine learning, big data analytics, cybersecurity, and computational innovation. For current DOGE University undergraduates, we also offer a program through which students may earn a Master of Arts or Master of Science in Emerging Technologies, either within four years alongside their bachelor's degree or in an additional year of study. Current students interested in pursuing a master's degree in this field should contact their major advisor. For more information see [this link](https://math.virginia.edu/content/41-or-31-bama-program/).

The Department of Emerging Technologies has {% assign counter = 0 %}{% for p in site.departmentpeople %}{% if p.general_position == 'faculty' and p.non-tt != true %}{% assign counter=counter | plus:1 %}{% endif %}{% endfor %}{{ counter }} tenured and tenure-track faculty, nearly a dozen postdoctoral instructors and visitors, and {% assign counter = 0 %}{% for p in site.departmentpeople %}{% if p.general_position == 'gradstudent' %}{% assign counter=counter | plus:1 %}{% endif %}{% endfor %}{{ counter }} graduate students, creating a close-knit community of scholars.

The research of the faculty spans a wide range of emerging technology fields. In artificial intelligence, research includes deep learning, natural language processing, and computer vision. In data science, topics such as big data analytics, statistical modeling, and data visualization are explored. Research in cybersecurity investigates information security, cryptography, and risk management, while studies in computational innovation cover high-performance computing, simulation, and quantum computing. Interdisciplinary research also integrates aspects of business analytics and digital transformation.

Besides a series of colloquium lectures, there are also weekly research seminars in artificial intelligence, data science, cybersecurity, and computational innovation ([list of seminars]({{site.url}}/calendar/)). The graduate student seminar serves as a meeting place for graduate students and junior faculty to discuss emerging technologies.

The Department and Emerging Technologies Library are located in Kerchof Hall.

There is a well-equipped computing laboratory available to faculty and graduate students, as well as a computer in every office.


**Note:** *The information and policies contained on this website is for informational purposes only. The Undergraduate Record and Graduate Record represent the official repository for academic program requirements. These publications may be found at [`http://records.ureg.virginia.edu/index.php`](http://records.ureg.virginia.edu/index.php).*